*
{
    outline: none !important;
}
body{
    font-family: 'Poppins' , sans-serif;
    background-color:#000!important;
    
}
header{
    position: relative;
    z-index: 1000000;
}
p{
    font-size: 1.15rem;
}
.banner_img{
    
   
}
#nav
{
    background: transparent !important;
    transition: 0.5s;
}
#nav.scrolled{
    background: #000 !important;
    transition: 0.5s;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color:#000!important;
    background: #fff;
    border-radius: 5px;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus
 {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:visited
{
    color: rgba(255,255,255,1);
    font-size: 2.5rem;
    font-weight:600;
}


.rule_game
{
    text-align: justify;
}
.banner{
   /* top:0;
    width: 100%;
    height: 100vh;
    background:url("6.jpg");
    background-size:cover;
    margin-bottom: 0%;
    background-repeat: no-repeat;*/
    width: 100%;
	height:100%;
	overflow: hidden;
	position: relative;
	background-image: url(21.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    animation: slide 10s infinite;
    text-align: center;
}
@keyframes slide{
	0%{
		background-image: url(21.jpg);
	}
	25%{
		background-image: url(22.jpg);
	}
	50%{
		background-image: url(23.jpg);
    }
    75%{
		background-image: url(24.jpg);
	}
}

.banner:before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:400px;
    background:linear-gradient(#000,transparent);
    pointer-events: none;
}
.banner:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:400px;
    background:linear-gradient(360deg,#000,transparent);
    pointer-events: none;
}

.rules1
{
    font-size: large;
    
}
.height100p{
    height:100vh;
}
.h100{
    height:100%;
}

.contentb{
    position:relative;
    top:20%;
   
}
.presents{
    font-weight: 500;
    color:#000;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-size:2.5rem; 
}

.contentBox h1{
    font-weight: 800;
    color:#fff;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    font-size:5rem;
    
}

.contentBox h3{
    font-weight: 800;
    color:white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    font-size:3rem;
}

.contentBox p{
    font-weight: 800;
    color:#fff;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    font-size:3rem;
}

.sec1{
    padding: 100px 0;
    margin-top: 0;
    
}
.headerText{
    color: #fff;
}
.headerText h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
    
}
.flexc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
         
}
.textf {
    text-align: center;
    color: #fff;
}
  
.imgf {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-bottom: 3vh;
  }

  .img-1{ 
    filter: invert(100%); 
    -webkit-filter:invert(100%); 
    width: 100px;
    height: 100px;
    } 
    #more{
        display: none;
    }
    #more1{
        display: none;
    }
    .blogPost{
        padding: 20px;
    }
    .content{
        padding: 20px;
    }
    
    .box1{
        display: flex;
        flex-wrap: wrap;
        
        
    }
    .box2{
        align-content: flex-start;
    }
    .box3{
        align-content: flex-end;
    }

    .danger p{
        background-color:white;
        color: black;
        border-radius: .5rem;
        margin-left: 20px;
      }
      iframe{
          margin-top: 50px;
          width:600px;
            height:450px;

      }
      .jumbotron{
          background-color: #fff !important;
      }
      @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
      section {
          padding: 60px 0;
      }
      
      section .section-title {
          text-align: center;
          color: #007b5e;
          margin-bottom: 50px;
          text-transform: uppercase;
      }
      #footer {
          background:#F2AA4CFF !important;
      }
      #footer h5{
          padding-left: 10px;
          border-left: 3px solid #000;
          padding-bottom: 6px;
          margin-bottom: 20px;
          color:#000;
      }
      #footer a {
          color: #000;
          text-decoration: none !important;
          background-color: transparent;
          -webkit-text-decoration-skip: objects;
      }
      #footer ul.social li{
          padding: 3px 0;
      }
      #footer ul.social li a i {
          margin-right: 5px;
          font-size:25px;
          -webkit-transition: .5s all ease;
          -moz-transition: .5s all ease;
          transition: .5s all ease;
      }
      #footer ul.social li:hover a i {
          font-size:30px;
          margin-top:-10px;
      }
      #footer ul.social li a,
      #footer ul.quick-links li a{
          color:#000000;
      }
      #footer ul.social li a:hover{
          color:#000;
      }
      #footer ul.quick-links li{
          padding: 3px 0;
          -webkit-transition: .5s all ease;
          -moz-transition: .5s all ease;
          transition: .5s all ease;
      }
      #footer ul.quick-links li:hover{
          padding: 3px 0;
          margin-left:5px;
          font-weight:700;
      }
      #footer ul.quick-links li a i{
          margin-right: 5px;
      }
      #footer ul.quick-links li:hover a i {
          font-weight: 700;
      }
      .sponso{
          background-color: whitesmoke;
          color:black;
      }
      @media (max-width:767px){
          #footer h5 {
          padding-left: 0;
          border-left: transparent;
          padding-bottom: 0px;
          margin-bottom: 10px;
      }
      }
      .extent{
          display: none;
      }
      
@media screen and (max-width: 480px) {
    .banner{
       /* top:0;
        width: 100%;
        height: 100vh;
        background:url("7.jpg");
        background-repeat: no-repeat;*/
    width: 100%;
	height:100%;
	/*overflow: hidden;*/
	position: relative;
    background-image: url(21.jpg);
    
	background-repeat: no-repeat;
	animation: slide 10s infinite;
        
    }

    .contentBox{
        margin-left:0;   
    }
    .contentBox h1{
        font-size:3rem;
    }
    .contentBox h3{
        font-size:2.5rem;
        color: #fff;
    }
    .contentbox p{
        font-size:2rem;
    }
    .flexc{
        justify-content: center;
    }
    .modal{
        width: 30%;
    }
    #rule
    {
        margin-top: 30%;
    }
    iframe{
        margin-top: 50px;
        width:320px;
          height:250px;
        margin-bottom: 100px;
    }
    .jumbotron
    {
        width: 320px;
    }
    #im{
        margin-top: 50px;
    }
    .rules1{
        font-size: medium;
    }
    .modal{
        margin-top: 40px;
    }
    #lo{
        width: 100;
        height: 200;
    }
    .contentb{
        position:relative;
        top:30%;
       
    }
    .spons{
        
        margin-top:30px;
        
    }
   
    .imgallery{
        width:320px;
        height:250px;
    }   
  }






















  